<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.nopcommerce.demo.customlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Computer Page Test" >
        <classes>
            <class name="com.nopcommerce.demo.testsuite.ComputerPageTest"/>
        </classes>
    </test>
    <test name="Registration Page Test" >
        <classes>
            <class name="com.nopcommerce.demo.testsuite.RegisterPageTest"/>
        </classes>
    </test>
    <test name="Login Page Test" >
        <classes>
            <class name="com.nopcommerce.demo.testsuite.LoginPageTest"/>
        </classes>
    </test>
</suite>